.widget-area{
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.widget-title{
  position: relative;
  display: block;
  margin: 0 0 0.8em 0;

  & > &__txt{
    display: inline-block;
    margin-left: 20px;
    padding: $size__bar-padding;
    background-color: $color__background;
    color: #fff;
    text-transform: uppercase;
    @include font-size(0.75);
    font-weight: 700;
    vertical-align: middle;
  }

  &::before{
    position: absolute;
    z-index: -1;
    top: calc(50% - 1px);
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color__background;
    content: "";
  }
}

/*--------------------------------------------------------------
## Widget post
--------------------------------------------------------------*/
.widget-post{
  display: flex;
  flex-direction: row;
  align-items: center;
  //padding: $size__gutter/2 0;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $color__background-hr;
  
  .post-thumbnail-link{
    width: 2*$size__circle;
    height: 2*$size__circle;
    border-radius: $size__circle;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__body{
    padding-left: $size__gutter;
  }

  h3{
    margin: 0 0 0.25em 0;
  }

  &:last-child{ 
    border-bottom: none;
  }
}