/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
.cb-title{
  margin: 0.5em 0 0.715em 0;
  @include font-size(1.75);
}

.widget-post-title{
  @include font-size(1);
}

.post-data{
  @include font-size(0.75);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;

  &__title{
    margin-right: 5px;
  }
}

/*--------------------------------------------------------------
## Site
--------------------------------------------------------------*/
.site{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
}

.container{
  padding-left: 5%;
  padding-right: 5%;
}

.site-content{
  flex: 1 0 auto;
  padding-top: $size__space;
  padding-bottom: $size__space;
}

.content-area{
  margin-bottom: $size__space*2;
}

/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Main nav
--------------------------------------------------------------*/
@import "nav";

/*--------------------------------------------------------------
## Post
--------------------------------------------------------------*/
@import "post";

/*--------------------------------------------------------------
## Site footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
## Aside
--------------------------------------------------------------*/
@import "aside";