// Colors
$color__background-body: #fcfcfc;
$color__background-hr: #ccc;
$color__background-hr-dark: #333;
$color__background-main-content: #fff;
$color__background-secondary-content: #f5f5f5;
$color__background-item-active: #fd2749;
$color__background: #0c0e14;

$color__link-hover: #fd2749;
$color__link-menu: #4d4d4d;
$color__link-menu-active: #0c0e14;

$color__text-main: #404040;


// Structure
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-nav: 60px;
$size__circle: 40px;
$size__field: 45px;
$size__gutter: 30px;
$size__space: 55px;
$size__bar-padding: 5px 10px;

// Typography
$font__headers: 'Poppins', sans-serif;
$font__main: 'Open Sans', sans-serif;
$font__line-height-body: 1.5;

// Other..
$shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
$time: 0.3s;